@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
}
.logo {
  margin: 10px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800px;
  color: #1877c9;
}
.links a {
  margin: 10px;
  text-transform: uppercase;
  font-size: 22px;
  color: #000;
}
.cart {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1877c9;
  color: #fff;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.card {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0, 0.2);
  border-radius: 10px;
}
.card .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 1, 31, 0.405);
  color: #fff;
  padding: 20px 0;
  border-radius: 0px 0px 10px 10px;
}
.card span {
  font-size: 1.75rem;
  margin: 10px;
}
.btn {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  background-color: #1877c9;
  color: #fff;
  right: 10px;
  border: none;
  border-radius: 50%;
  margin-top: 10px;
  cursor: pointer;
}
.btn-secondary {
  background-color: red;
}
.cart-container {
  background-color: #fff;
  box-shadow: 0 0 010px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 10px;
  grid-gap: 20px;
  padding: 30px;
  place-items: center;
}
.cart-products {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95%;
  padding: 20px;
  border-radius: 1px solid #ccc;
}
.cart-product {
  padding: 10px;
  width: 95%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  border-top: 1px solid #ccc;
  place-content: center;
}
.cart-product img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 10px;
}
.cart-product span {
  font-size: 1.2rem;
  font-weight: 500;
}
.cart-title-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cart-title-img * {
  padding: 0 10px;
}
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}
.total-price{
  border-top: 1px solid #ccc;
}